@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  /* === Brand Colors === */
  --color-primary: #1f1f1f;       /* Elegant dark main */
  --color-primary-dark: #121212;  /* Darker variant for hover/active */
--color-background:           #1f1f1f;  /* main background */

  --color-secondary: #3bb29d;     /* Muted emerald */
  --color-secondary-dark: #2d8d7b;

 
  /* === Surface / Background Colors === */
  --color-bg: #121212;          /* main background */
  --color-bg-muted: #1f1f1f;    /* muted background */
  --color-bg-card: #1d1d1d;     /* card surfaces */

  /* === Text Colors === */
  --color-text: #f8f9fb;        /* main text */
  --color-text-muted: #98a2b3;  /* secondary text */

  --color-success-50: oklch(0.979 0.029 183.31);
  --color-success-100: oklch(0.936 0.093 184.02);
  --color-success-200: oklch(0.845 0.15 184.02);
  --color-success-300: oklch(0.768 0.136 183.87);
  --color-success-400: oklch(0.683 0.121 184.25);
  --color-success-500: oklch(0.605 0.107 184.15);
  --color-success-600: oklch(0.514 0.091 183.79);
  --color-success-700: oklch(0.414 0.073 184.26);
  --color-success-800: oklch(0.32 0.057 183.92);
  --color-success-900: oklch(0.227 0.04 186.34);
  --color-success-950: oklch(0.184 0.033 183.93);

  --color-warning: #eab308;
  --color-danger:  #ef4444;
}
